<h1>API</h1>
<h3>O que é um API, e qual as vantagens de usa-lo.</h3>
<p>Uma API é um conjunto de comandos, funções, protocolos e objetos que os programadores podem usar para criar softwares ou interagir com sistemas externos. Ela fornece aos desenvolvedores comandos padrões para executar operações comuns para que eles não tenham que escrever um código inteiro do zero.</p>

<h3>Exemplo de uso.</h3>

<p>Existem várias utilidades para API's, mas as mais comuns e mais vistas hoje em dia, são as usadas nas redes sociais, quando vamos entrar em um APP qualquer, e aparece na tela: "Fazer login com 'Facebook'"</p>
