<h1>Frameworks</h1>
<h3>Frameworks em javascript.</h3>

<p>Os mais utilizados na area front-end são:<br><br>1. Angular;<br><br>2. VueJS;<br><br>3. EmberJS;<br><br>4. Knockout;<br><br>5. TasteJS;</p>

<br>

<h4>Importancia de se utilizar frameworks.</h4>

<p>A importancia de se usar frameworks é clara, facilitar o trabalho da hora de programar. Franework na minha opinião, são ferramentas que podem ser usadas, mas não temos obrigação nenhuma de usa-las, que gera uma facilidade na hora de trabalharmos.</p>
</p>
