<h1>Git</h1>
<h3>Versionamento.</h3>
<p>Uma das ferramentas mais utilizadas nos dias de hoje para versionamento de software, é o Git.</p>

<h3>A importância.</h3>

<p>Sua importancia é clara, controlar versões para que, caso preciso, você volte seu software para uma versão anterior, ou também, para controlar a evolução do software.</p>