<h1>HTTP</h1>
<h3>Métodos de requisição.</h3>
<p>Como métodos de requisição temos GET, HEAD, POST, PUT, DELETE, TRACE, OPTIONS, CONNECT e PATCH. Os mais utilizados dentre esses são GET, POST e  DELETE, formando o CRUD.</p>

<h3>GET</h3>

<p>Faz um requisitode uma representação do recurso especificado.</p>

<h3>POST</h3>

<p>Envia e requisita uma entidade para o servidor.</p>

<h3>DELETE</h3>

<p>Apaga o recurso especificado.</p>
