<h1>MVC</h1>
<h3>O que é.</h3>
<p>MVC é nada mais que um padrão de arquitetura de software, separando sua aplicação em 3 camadas. A camada de interação do usuário(view), a camada de manipulação dos dados(model) e a camada de controle(controller).<p>

<p>Model
Responsavel pela manipulação de dados ou seja, pela leitura e escrita de dados, e também responsaveis pelas validações dos mesmos.</p>

<p>View
Se trata da camada de interação com o usuário. Se trata da exibição dos dados, sendo ela por meio de um html ou xml.</p>

<p>Controller
Responsável por receber todas as requisições do usuário. Os  métodos controller, são responsáveis por uma página, controlando qual model usar e qual view será mostrado ao usuário.
</p>

<h3>A classe DAO do Java.</h3>

<p>A classe DAO se encaixa no Model, pois o DAO é responsavel pela manipulação de dados(gravura de dados no BD).</p>

<h3>O que é ORM.</h3>

<p>ORM é uma forma de criar camadas de movimentos de dados entre um banco de dados relacional e objetos, onde no Ruby on Rails utilizamos ActiveRecord, enquanto no Java podemos utilizar o Hibernate.</p>